<ion-header-bar align-title="left" class="bar-dark">
  <h1 class="title">Medical Schedule</h1>
  <div class="buttons">
    <button class="button" ng-click="logout()">Logout</button>
  </div>
</ion-header-bar>
<ion-content>
  <ion-list>
  <!--
    <div class="item item-toggle item-icon-left" ng-repeat="device in devices | filter:'on_off'">
        <i class="icon ion-ios7-lightbulb-outline"></i>
        {{ device.name }}
        <label class="toggle">
          <input type="checkbox" ng-model="device.value" ng-change="change(device)">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
    </div>
    <div class="item range range-energized" ng-repeat="device in devices | filter:'dimmer'">
        <i class="icon ion-ios7-lightbulb-outline"></i>
        {{ device.name }}
        <input type="range" name="volume" min="0" step="10" max="100" ng-model="device.value" ng-change="change(device)">
        <i class="icon ion-ios7-lightbulb"></i>
        {{ device.value }} 
    </div>
    <div class="item range range-assertive" ng-repeat="device in devices | filter:'thermostat'">
        <i class="icon ion-ios7-sunny-outline"></i>
        {{ device.name }}
        <input type="range" name="volume" min="15" max="25" ng-model="device.value" ng-change="change(device)">
        <i class="icon ion-ios7-sunny"></i>
        {{ device.value }} 
    </div>
  -->

<div class="button-bar">
  <a class="button button-outline button-positive">1</a>
  <a class="button button-outline button-positive">2</a>
  <a class="button button-outline button-positive">3</a>
  <a class="button button-outline button-positive">4</a>
</div>
  <div class="button-bar">
  <a class="button button-outline button-positive">5</a>
  <a class="button button-outline button-positive">6</a>
  <a class="button button-outline button-positive">7</a>
  <a class="button button-outline button-positive">8</a>
</div>
  <div class="button-bar">
  <a class="button button-outline button-positive">9</a>
  <a class="button button-outline button-positive">10</a>
  <a class="button button-outline button-positive">11</a>
  <a class="button button-outline button-positive">12</a>
</div>
  <div class="button-bar">
  <a class="button button-outline button-positive">13</a>
  <a class="button button-outline button-positive">14</a>
  <a class="button button-outline button-positive">15</a>
  <a class="button button-outline button-positive">16</a>
</div>
<div class="button-bar">
  <a class="button button-outline button-positive">17</a>
  <a class="button button-outline button-positive">18</a>
  <a class="button button-outline button-positive">19</a>
  <a class="button button-outline button-positive">20</a>
</div>
  <div class="button-bar">
  <a class="button button-outline button-positive">21</a>
  <a class="button button-outline button-positive">22</a>
  <a class="button button-outline button-positive">23</a>
  <a class="button button-outline button-positive">24</a>
</div>
  <div class="button-bar">
  <a class="button button-outline button-positive">25</a>
  <a class="button button-outline button-positive">26</a>
  <a class="button button-outline button-positive">27</a>
  <a class="button button-outline button-positive">28</a>
</div>
  <div class="button-bar">
  <a class="button button-outline button-positive">29</a>
  <a class="button button-outline button-positive">30</a>
  <a class="button button-outline button-positive">31</a>
  <a class="button button-outline button-positive">32</a>
</div>
  </ion-list>
</ion-content>

