<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp.logoutCtrl" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp.logoutCtrl" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp.logoutCtrl" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp.logoutCtrl" class="no-js"> <!--<![endif]-->
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="content_div" ng-controller="LogoutCtrl">
    <!--<div class="triangle"></div>-->
    <div class="ns-popover-tooltip">

        <div style="margin-top: 10%;margin-bottom: 10%;width: 100px">
            <center>
                <button style="margin-left: 10%;margin-right: 10%" class="btn btn-lg logout-button" ng-click="logout()" style="margin-left: 5%;margin-right: 5%;width:80%;">Logout</button>
            </center>
        </div>

    </div>

</div>

</body>
</html>


<style>

    .logout-button{

        background-color: #00aaff;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #FFFFFF;
        border-radius: 20px;
        text-align: center;
        border: 0;
        outline:none !important;
    }

</style>