
<footer class="footer-background">

    <div class="footer-logo">
        <img src="img/logo_footer.png" class="footer-logo" alt="Header" >
        <!---<img src="../../../img/logo_footer.png" class="footer-logo" alt="Header" >-->
        </div>

</footer>


<style>

    body {
        margin: 0;
        padding: 0;
        position: relative;
        bottom: 0 !important;

    }
    .footer-background{
        background-color: #1A1A1A;
        padding: 8px;

    }

    .footer-logo {
        text-align: right;
    }

    .footer-logo img{
        width: 07%;
    }
    </style>